article()
  for preset in arguments
    article-{preset}()

article-block()
  reset block
  margin-bottom 4rem

article-h1()
  h1
    article-block()
    type heading larger

article-h2()
  h2
    article-block()
    type heading large

article-h3()
  h3
    article-block()
    type heading medium

article-h4()
  h4
    article-block()
    type heading small

article-h5()
  h5
    article-block()
    type heading smaller

article-p()
  p
    article-block()

article-ul()
  ul
    article-block()

article-li()
  li
    article-block()
    display list-item
    list-style disc outside
    margin-left 4rem
    margin-bottom 1rem

article-blockquote()
  blockquote
    article-block()
    type body
    background white - 5%
    border-left 1rem solid dark-kite-blue
    padding 2rem

article-code()
  code
    type monospace

  pre
    article-block()
    padding 3rem
    overflow scroll
    borders round

article-a()
  a
    display inline-block
    text-align center
    width available
    padding 0.5rem 1rem
    text-decoration none
    border-bottom 2px solid darker-kite-blue
    colors inherit lightest-kite-blue
    &:visited
      colors inherit lightest-kite-blue
    &:focus
      outline none
      colors inherit light-kite-blue
