du(n)
  48rem * n

block-narrow-container()
  // 2du + 2 "wide" (4rem) gaps
  max-width du(2) + 8rem
  // "skinny" left margin
  margin-left 3rem

block-wide-container()
  // 3du + 3 "wide" (4rem) gaps
  max-width du(3) + 12rem
  // "skinny" left margin
  margin-left 3rem

block-gap()
  margin-right 3rem

block-wide-gap()
  margin-right 4rem

block-narrow()
  flex 1 1 du(1)
  max-width du(1.25)

block-wide()
  flex 2 2 du(2)
  max-width du(2)

block()
  box-sizing border-box
  for preset in arguments
    block-{preset}()

row-block()
  & > *
    block narrow

row-wide-block()
  & > *
    block wide

row-wrap()
  flex-wrap wrap

row-left()
  justify-content flex-start

row-right()
  justify-content flex-end

row-top()
  align-items flex-start

row-bottom()
  align-items flex-end

row-baseline()
  align-items baseline

row-center()
  justify-content center

row-middle()
  align-items center

row-nowrap()
  flex-wrap nowrap

row-no-wrap()
  flex-wrap nowrap

row-gap()
  & > *
    block gap

row-wide-gap()
  & > *
    block wide-gap

row()
  box-sizing border-box
  display flex
  flex-flow row
  for preset in arguments
    row-{preset}()

column(-wrap)
  display flex
  flex-flow column -wrap
