@require "./colors"

borders-top()
  border-top 1px solid lighter-kite-gray

borders-bottom()
  border-bottom 1px solid lighter-kite-gray

borders-left()
  border-left 1px solid lighter-kite-gray

borders-right()
  border-right 1px solid lighter-kite-gray

borders-round()
  border 1px solid lighter-kite-gray
  border-radius 0.5rem

borders-rounder()
  border 1px solid lighter-kite-gray
  border-radius 1rem

borders-circular()
  border-radius 50%

borders-all()
  border 1px solid lighter-kite-gray

borders-button()
  border 1px solid darkest-kite-blue
  &:disabled
    borders 1px solid lighter-kite-gray

borders()
  for preset in arguments
    borders-{preset}()
