dashkite()
  for preset in arguments
    dashkite-{preset}()

dashkite-form()
  dashkite-button()
  dashkite-link()

  input
    dashkite-focus-glow()

  nav
    dashkite-nav()

dashkite-code()
  :not(pre) > code
    position relative
    bottom 0.25rem
    &::before
      content "\22d6"
    &::after
      content "\22d7"

dashkite-focus-glow()
  &:focus
    // for some reason, i can't use shorthand w/negative offset
    outline-offset -0.5rem
    outline-color lighter-kite-blue
    outline-style dotted
    outline-width 0.25rem

dashkite-focus-wide()
  &:focus
    outline-offset 1.25rem
    outline-color lighter-kite-blue
    outline-style dotted
    outline-width 0.5rem

dashkite-link()
  a, a:visited, a:focus
    // display inline-block
    // text-align center
    // padding-right 0.25rem
    // padding-left 0.25rem
    // text-decoration underline currentColor
    text-decoration none
    color inherit
    border-bottom 1px dashed currentColor
    &:focus
      outline none
      background-color lighter-kite-blue
    &[href='#broken']
      border-bottom 1px solid red


dashkite-nav()
  & > *
    min-width 15rem
    &:not(:last-child)
      margin-right 3rem

dashkite-button()
  button
    display inline-block
    padding 1rem

    type label

    colors darkest-kite-blue white


    border-radius 0.5rem
    borders 1px solid darkest-kite-blue

    cursor auto

    &:focus
      // for some reason, i can't use shorthand w/negative offset
      outline-offset -0.5rem
      outline-color lightest-kite-blue
      outline-style solid
      outline-width 0.25rem

    &:disabled
      colors kite-silver white

      & > svg
        fill @color


dashkite-table()
  // The shenanigans in what follows WRT to borders
  // is due to the fact that there's apparently (?)
  // no simple way to give a table rounded borders
  // — you have to select each of the corner cells
  // of the table and round each corner individually

  table
    type caption
    border-collapse separate
    border-spacing 0
    margin-bottom 2rem

    p, ul, blockquote, li
      &:last-child
        margin-bottom 0 !important

    blockquote
      // override article type
      type caption

    code
      type monospace small

    thead
      display table-header-group
      font-weight bold

      th
        border-top 1px solid silver

        &:first-child
          border-top-left-radius 0.5rem

        &:last-child
          border-top-right-radius 0.5rem

    thead
    tr:nth-child(2n)
      background-color white - 5%

    th, td
      min-width 16rem
      padding 2rem
      border-right 1px solid silver
      border-bottom 1px solid silver

      &:first-child
        border-left 1px solid silver

    tr
      display table-row

      th, td
        display table-cell

    tbody
      display table-header-group

      tr:last-child

        td

          &:first-child
            border-bottom-left-radius 0.5rem

          &:last-child
            border-bottom-right-radius 0.5rem

dashkite-toc()
  .toc
    ul
      reset block
      display inline-block
      min-width 36rem
      max-width 96rem
      width 100%
      margin-bottom 4rem

      & > li
        display inline-block
        // override margins just in case they've been styled
        // for bulleted lists
        margin-left 0
        margin-bottom 1rem !important

        & > .current
          font-weight bold

        &:not(:last-child)
          &::after
            margin 0 1rem
            content "\2237"

        a, a:visited, a:hover
          color inherit

dashkite-header()
  header
    type body small

dashkite-figure()
  figure
    float right
    borders round
    width 36rem
    padding 1rem
    & > img
      width 100%
      object-fit contain
    & > figcaption
      margin-top 1rem
      borders top
      padding-top 1rem
      type body small
