rhythm(-lh, -ratio)
  line-height -lh
  font-size -lh * -ratio

type-body()
  font-family titillium-web

type-body-medium()
  type-body()
  rhythm 4rem (2/3)

type-body-small()
  type-body()
  rhythm 3rem (2/3)

type-body-extra-small()
  type-body()
  rhythm 2rem (3/4)

type-heading()
  font-weight 700
  font-family titillium-web

type-heading-largest()
  type-heading()
  rhythm 8rem (7/8)
  font-weight bold

type-heading-larger()
  type-heading()
  rhythm 6rem (7/8)
  font-weight bold

type-heading-large()
  type-heading()
  rhythm 5rem (7/8)
  font-weight bold

type-heading-large()
  type-heading()
  rhythm 4rem (7/8)
  font-weight bold

type-heading-small()
  type-heading()
  rhythm 4rem (3/4)
  font-weight bold

type-heading-smaller()
  type-heading()
  rhythm 4rem (2/3)
  font-weight bold

type-banner()
  font-family factoria

type-banner-large()
  type-banner()
  font-weight 800
  font-style italic
  rhythm 8rem (7/8)

type-banner-medium()
  type-banner()
  font-weight 500
  rhythm 6rem (3/4)

type-copy()
  font-family yrsa

type-copy-large()
  type-copy()
  rhythm 5rem (2/3)

type-copy-large()
  type-copy()
  rhythm 4rem (2/3)

type-copy-medium()
  type-copy()
  rhythm 5rem (3/4)

type-copy-small()
  type-heading()
  rhythm 3rem (3/5)

type-copy-smaller()
  type-heading()
  rhythm 2rem (3/4)

type-label()
  type-body()

type-label-medium()
  type-label()
  rhythm 4rem (2/3)

type-label-small()
  type-label()
  rhythm 3rem (3/4)

type-label-smaller()
  type-label()
  rhythm 2rem (4/5)

type-caption-medium()
  type-body()
  rhythm 3rem (3/4)

type-caption-small()
  type-body()
  rhythm 2rem (5/6)

type-monospace()
  font-family SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important

//- don't use this for inputs or we get mobile auto-zoom
type-monospace-small()
  type-editor()
  rhythm 3rem (3/5)

type-monospace-medium()
  type-monospace()
  rhythm 4rem (3/5)

type-monospace-large()
  type-monospace()
  rhythm 5rem (3/5)

type-editor()
  type-monospace()

type-editor-medium()
  type-monospace-medium()

type-editor-small()
  type-monospace-small()

type(-name, -size = "medium")
  type-{-name}-{-size}()

elide(-width)
  display inline-block
  max-width -width
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
