@require "./colors"

borders-top()
  border-top 1px solid silver

borders-bottom()
  border-bottom 1px solid silver

borders-left()
  border-left 1px solid silver

borders-right()
  border-right 1px solid silver

borders-round()
  border 1px solid silver
  border-radius 0.5rem

borders-circular()
  border 1px solid silver
  border-radius 50%

borders-square()
  border 1px solid silver

borders(-preset)
  borders-{-preset}()
