define-color(-name, -value)
  define(-name, -value, global)

define-variations(name)
  color = lookup("$" + name)

  _d1 = color - 25%
  _d2 = _d1 - 25%
  _d3 = _d2 - 25%

  _l1 = color + 25%
  _l2 = _l1 + 25%
  _l3 = _l2 + 25%

  define("$dark-" + name, _d1, global)
  define("$darker-" + name, _d2, global)
  define("$darkest-" + name, _d3, global)

  define("$light-" + name, _l1, global)
  define("$lighter-" + name, _l2, global)
  define("$lightest-" + name, _l3, global)

colors(-fg, -bg)
  _fg = lookup("$" + -fg)
  _bg = lookup("$" + -bg)

  color _fg is null ? -fg : _fg
  background-color _bg is null ? -bg : _bg
