height(value)
  if value is available
    height -webkit-fill-available
    height -moz-available
    height available
  else
    height value

width(value)
  if value is available
    width -webkit-fill-available
    width -moz-available
    width available
  else
    width value
