/*

    Adapted from:
      https://bitsofco.de/my-css-reset-base/

*/

reset()

  html, body,
  h1, h2, h3, h4, h5, h6,
  a, p, span,
  em, small, strong,
  sub, sup,
  mark, del, ins, strike,
  abbr, dfn,
  blockquote, q, cite,
  code, pre,
  ol, ul, li, dl, dt, dd,
  div, section, article,
  main, aside, nav,
  header, hgroup, footer,
  img, figure, figcaption,
  address, time,
  audio, video,
  canvas, iframe,
  details, summary,
  fieldset, form, label, legend,
  input, textarea,
  table, caption,
  tbody, tfoot, thead,
  tr, th, td
    box-sizing border-box
    display block

    margin 0
    padding 0
    border 0

    font-family inherit
    font-size inherit
    line-height inherit

    &:before, &:after
      box-sizing inherit

  a, a:visited, a:hover
    color inherit

  table
    border-collapse collapse
    border-spacing 0

  ol, ul
    list-style none

  img, video
    max-width 100%

  img
    border-style none

  blockquote, q
    quotes none

    &:after, &:before
      content ""
      content none

  [hidden]
    display none !important

  [disabled]
    cursor not-allowed

  :focus:not(:focus-visible)
      outline none
